
* {

    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 70px;
    padding: 0 24px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F4F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.links-nav {
    display: flex;
    gap: 20px;

}

.nav-link {
    color: #000000;
}

.nav-logo {
    font-size: 40px;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 32px;
    height: 50px;
    background-color: #0077FF;
    border-radius: 14px;
    font-size: 18px;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px;
    /* height: 1440x;
    width: 340px; */
    width: 1200px;
    height: 300px;
    border-radius: 24px;
    padding: 28px 22px;
    font-size: 40px;
    background-color: #FFFFFF;
    background-image: url('../assets/images/banner_bg.svg');
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
}

.banner-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 32px;
    height: 100px;
    background-color: #000000;
    border-radius: 12px;
    font-size: 18px;
    color: #FFFFFF;
}

.cards {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 780px;

}

.card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 10px 24px;
    width: 375px;
    height: 300px;
    gap: 8px;
    border-radius: 24px;
    border: 1px;
    border-color: #808080;
    h2{
        font-weight: 400;
        font-size: 36px;
        margin: 2px;
    }
}
.par-bold{
    font-weight: 600;
}
.par-card{
    font-weight: 400;
    color: #818181;
}
.card-adress{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.card-content1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.card-content2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 15px;
}
.card-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    height: 30px;
    background-color: #0077FF;
    border-radius: 12px;
    font-size: 15px;
    color: #FFFFFF;
}
.cards-menu {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-left: 140px;
    margin-right: 120px;
    margin-top: 20px;
}

.card-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #FFFFFF;
    width: 400px;
    height: 620px;
    border-radius: 24px;
    padding: 20px;
    gap: 0px;

    p {
        margin: 10px 0 5px 0;
        font-weight: 600;
    }
}

.menu-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #F4F4F5;
    border: 1px;
    border-color: #E4E4E7;
    width: 355px;
    height: 50px;
    gap: 12px;
    border-radius: 10px;
    padding: 12px;

    p {
        color: #131313;
        font-weight: 400;
    }
}

.button-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    height: 30px;
    background-color: #F4F4F5;
    border-radius: 5px;
    font-size: 15px;
    color: #A1A1AA;
    font-weight: 400 !important;
}



.button-search3 {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 10px;
    height: 45px;
    width: 155px;
    background-color: #F4F4F5;
    border-radius: 12px;
    color: #09090B;
    font-weight: 400 !important;
    margin: 0 20px;

}

.button-search-big-divider {
    width: 22px;
    height: 1px;
    background-color: #E4E4E7;
    margin: 8px 0;
    transform: rotate(90deg);
}

.button-search-big{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 10px;
    height: 1000px;
    width: 350px;
    gap: 3px;
    background-color: #F4F4F5;
    border-radius: 12px;
    color: #A1A1AA;
    p{
        color: #09090B;
        font-weight: 400;
    }
}
.button-search-big-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.button-search-big-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}
.button-search-big-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    background-color: #E4E4E7;
    width: 20px;
    height: 20px;
}

.enum-search {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    font-weight: 400;
}
.footer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 400px;
    padding: 30px 30px;
    width: 1180px;
    height: 350px;
    border-radius: 24px;
    background-color: #FFFFFF;
    background-image: url(../assets/images/Footer.png);
    background-size: 1200px 350px;
    margin-top: 20px;
}
.footer-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    height: 100px;
    background-color: #0077FF;
    border-radius: 12px;
    font-size: 20px;
    color: #FFFFFF;
}
.footer-content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: 400;
    font-size:20px;
    width: 150px;
    height: 100px;
    gap: 15px;
}
.footer-content p{
    margin: 0px;
}